.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.search__input {
    width: 800px;
    height: 36px;
    border-radius: 16px;
    border: 2px solid white;
    background: url('../content/search-icon.svg') no-repeat;
    background-position: 8px;
    transition: 0.3s linear all;
    text-indent: 36px;
    color: white;
    outline: none;
}

.search__input:focus {
    background-position: -48px;
    transition: 0.3s linear all;
    text-indent: 8px;
    border: 2px solid #FED530;
}