.main-image {
    width: 1440px;
    height: 640px;
    background: url('https://images.pexels.com/photos/3945317/pexels-photo-3945317.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center;
    background-size: 100%;
    margin-top: 32px;
    border-radius: 16px;
}

.home h1 {
    text-align: center;    
}