.main-image {
    width: 800px;
    height: 600px;
    background: url('../content/main-page.png') no-repeat center;
    border-radius: 16px;
    background-size: 100%;
    margin: -60px auto;
}

.home h1 {
    text-align: center;    
}